@using SlidingTilesPuzzle.Models

<div class="board">
    @foreach (var tile in Tiles.Where(t => !t.IsEmpty))
    {
        <div class="tile"
             style="@TileStyle(tile)"
             @onclick="() => OnTileClick.InvokeAsync(tile)">
        </div>
    }
</div>