@using SlidingTilesPuzzle.Models

<div class="board">
    @foreach (var tile in Tiles.Where(t => !t.IsEmpty))
    {
        <div class="tile"
             style="
                    background-image:url('https://picsum.photos/600/600');
                    background-position:@Bg(tile.Index);
                    transform:@Pos(tile.CurrentIndex)"
             @onclick="() => OnTileClick.InvokeAsync(tile)">
        </div>
    }
</div>

@code {
    [Parameter] public List<Tile> Tiles { get; set; } = [];
    [Parameter] public string ImageUrl { get; set; } = "";
    [Parameter] public EventCallback<Tile> OnTileClick { get; set; }

    const int Size = 3;
    const int TileSize = 200;

    string Bg(int i) => $"{-(i % 3) * TileSize}px {-(i / 3) * TileSize}px";
    string Pos(int i) => $"translate({(i % 3) * TileSize}px, {(i / 3) * TileSize}px)";
}
