@using SlidingTilesPuzzle.Models

<div class="board">
    @foreach (var tile in Tiles.Where(t => !t.IsEmpty))
    {
        <div class="tile"
             style="@TileStyle(tile)"
             @onclick="() => OnTileClick.InvokeAsync(tile)">
        </div>
    }
</div>

@code {
    [Parameter] public List<Tile> Tiles { get; set; } = new();
    [Parameter] public string ImageUrl { get; set; } = "https://picsum.photos/600/600";
    [Parameter] public EventCallback<Tile> OnTileClick { get; set; }


    const int TileSize = 200;
    const int BoardSize = 600;

    string TileStyle(Tile tile)
    {
        if (string.IsNullOrWhiteSpace(ImageUrl))
            return "";

        return $"background-image: url('https://picsum.photos/600/600'); " +
               $"background-size: {BoardSize}px {BoardSize}px; " +
               $"background-position: {-(tile.Index % 3) * TileSize}px {-(tile.Index / 3) * TileSize}px; " +
               $"width: {TileSize}px; height: {TileSize}px; " +
               $"position: absolute; " +
               $"transform: translate({(tile.CurrentIndex % 3) * TileSize}px, {(tile.CurrentIndex / 3) * TileSize}px);";
    }
}