/* ===== Sliding Puzzle ===== */

.puzzle-layout {
    display: flex;
    gap: 24px;
}

.board {
    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid #333;
}

.tile {
    position: absolute;
    width: 200px;
    height: 200px;
    background-size: 600px 600px;
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.65);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay-content {
    background: #111;
    padding: 24px;
    color: white;
    border-radius: 12px;
}

p {
    font-family: "Gaegu", sans-serif !important;
    font-weight: bold;
    color: var(--primary-color) !important;
    font-size: 36px;
    margin-bottom: 0 !important;
}

h1 {
    background-color: #111111;
    font-size: 96px;
    font-weight: bold;
    padding-left: 35px;
}

button {
    font-size: 36px;
    max-width: 300px;
}

.refresh-btn {
    background-color: #48C6BE;
}

.reset-btn {
    background-color: #FB5A55;
}